div.stButton > button{
    color: blue;
    height: 10%;
    width: 40%;
    font-size: 2%;
    margin: 0 auto;
    display: block;
    background-color: #FAF0D7;
}

div.stButton > button:hover{
    color: #4F709C;
    border: #4F709C 1px solid;
}

div[data-baseweb="base-input"]{
    border: 2px;
    border-radius: 3px;
    background-color: white;
}
input[class]{
    font-weight: bold;
    font-size:120%;
    text-align: center;
    background-color: white;
}
